
body {
	max-width: 100%;
	margin: 0px;
}
@media screen and (min-width: 320px){
	.first{
		width: 100%;
		background-image: url(images/bg-hero-mobile.svg);
		background-size: cover;
		background-color: hsl(193, 100%, 96%);
	}
	.first_part {
		padding: 10px 10px;
		display: flex;
		justify-content: space-between;
	}
	.free {
		border: hidden;
		border-radius: 20px;
		width: 20%;
		background-color: white;
		font-weight: 600;
		box-shadow: 1px 1px 6px black;
		text-align: center;
		padding-top: 10px ;
	}
	.community {
		display: flex;
		flex-direction: column;
		width: 80%;
		margin: 100px auto;
	}
	.huddle {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.huddle>h1 {
		font-weight: 300;
		font-size: 50px;
	}
	.huddle>h2 {
		font-weight: 100;
		font-size: 30px;
	}
	.started {
		padding: 20px;
		border-radius: 10px;
		background-color: hsl(322, 100%, 66%);
		width: 40%;
		margin: 10% auto;
		color: white;
		font-weight: 400;
		font-size: 20px;
	}
	.phone {
		width: 100%;
	}
	.phone>img {
		width: 100%;
	}
	.grow{
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 80%;
		margin: 5% auto;
		/*box-shadow: 1px 1px 100px hsl(208, 11%, 55%);*/
		border-radius: 20px;
	}
	.together {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0px 20px;
		text-align: center;
	}
	.together>h2 {
		color: hsl(208, 11%, 55%);
		font-weight: 100;
	}
	.together>h1 {
		font-weight: 900;
		font-size: 40px;
	}
	.grow_image {
		width: 100%;
	}
	.grow_image>img {
		width: 100%;
	}
	.Ready {
		display: flex;
		flex-direction: column;
		width: 90%;
		margin: 0px auto;
		font-size: 30px;
		box-shadow: 1px 1px 5px black;
		padding: 70px 0px;
		text-align: center;
		font-weight: 900;
		/*height: 150px;*/
		border-radius: 20px;
		position: relative;
		bottom: 20px;
		background-color: white;
	}
	.get {
		border-radius: 200px;
		background-color: hsl(322, 100%, 66%);
		font-size: 20px;
		color: white;
		margin: 40px auto;
		margin-bottom: 0px;
		width: 40%;
		padding: 25px;
	}
	.lower {
		background-color: rgb(4.31%, 24.71%, 54.90%);
		color: white;
		display:  flex;
		flex-direction: column;
		padding: 100px 0px;
	}
	.lower_body {
		background-color: rgb(4.31%, 24.71%, 54.90%);
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.lower_body>div {
		display: flex;
		justify-content: center;
		flex-direction: column;
		color: white;
		font-size: 20px;
		margin-bottom: 40px;
	}
	.lower_body>div>span:not([class=Lorem],[class=example],[class=number]) {
		margin: 10px 0px;
		align-self: center;
	}
	.labore {
		display: flex;
		flex-direction: column;
		width: 50%;
		align-self: center;
	}
	.labore>span {
		margin: 10px 0px;
	}
	.regulate {
		height: 200px;
	}
	.lower_logo {
		align-self: center;
		margin: 20px 0px;
	}
	.labore>span:nth-child(1)::before{
		content: url(images/icon-location.svg);
		margin-right: 20px;
		height: 100px;
	}
	.labore>span:nth-child(2)::before{
		content: url(images/icon-phone.svg);
		margin-right: 20px;
	}
	.labore>span:nth-child(3)::before{
		content: url(images/icon-email.svg);
		margin-right: 20px;
	}
}
@media screen and (min-width:  780px){
	.first {
		background-image: url(images/bg-hero-desktop.svg);
	}
	.free {
		border-radius: 20px;
		width: 10%;
	}
	.community {
		display: flex;
		flex-direction: row;
		width: 90%;
	}
	.huddle {
		text-align: left;
		width: 50%;
	}
	.community>img {
		width: 100%;
	}
	.started {
		text-align: center;
		margin: 5% 0px;
	}
	.phone {
		width: 50%;
	}
	.phone>img {
		width: 100%;
	}
	.grow {
		display: flex;
		flex-direction: row-reverse;
		margin: 10% auto;
	}
	.grow:nth-child(3){
		display: flex;
		flex-direction: row;
	}
	.Ready{
		width: 40%;
		bottom: 100px;
	}
	.lower_body {
		display: flex;
		flex-direction: row;
	}
	.lower_logo{
		margin-left: 20px;
		align-self: flex-start;
	}
	.regulate {
		height: 150px;
	}
	.labore {
		width: 30%;
	}
	.labore>span {
		width: 100%;
		align-self: unset;
	}
}